@model BankSystem.Models.DbModels.Card

<style>
    body {
        color: white;
        font-size: medium;
    }

    a {
        color: lawngreen;
    }

        a:hover {
            color: forestgreen;
        }
    
    .field-validation-error {
        color: yellow;
    }
</style>
<body background="~/Images/back.jpg">
    <div class="container body-content">
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>CreateNewCard</title>
        </head>
        <body>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Card</h4>
                    <hr />
                    <div class="form-group">
                        @Html.Label("Номер счёта", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                var listitems = new List<int>();
                                listitems = Repository.GetAccIdsOfUser(Model.UserId);
                            }

                            @Html.DropDownListFor(model => model.AccountId, new SelectList(listitems), "Создать новый счёт", new { htmlAttributes = new { @class = "form-control"}})

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Создать карточку" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                                }

            <div>
                @Html.ActionLink("Назад", "UserPage", "Account", new { id = Model.id }, null)
            </div>
        </body>
    </html>
</div>
</body>